body{
background-color: yellowgreen;
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 20px;
max-width: width 800px;px;
margin:0 auto;

}
h1{color: black;
}
h2{
    color: blue; 
}
p{
    color:orange;
}

@media screen and (max-width:700px){
    body{
        background:goldenrod;
    }
    p{
        font-size: 30px;
    }
}
